
<div class="container form-center">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <form class="form-signin" ng-submit="vm.login()">
                <h1 class="form-signin-heading text-muted">Sign In</h1>
                <input type="text" class="form-control" id="email" placeholder="email" ng-model="vm.email" />
                <input class="form-control" type="password" id="password" placeholder="password" ng-model="vm.password" />
                <button class="btn btn-primary" type="submit">Sign In</button>
            </form>
        </div>
    </div>
</div>
