<div>
    <h1>Login</h1>
    <form ng-submit="vm.login()">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" ng-model="vm.email" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" ng-model="vm.password" />
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>
