<div class="container container-content">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-muted text-center">Sign up</h1>
            <form name="register" ng-submit="vm.submit()" novalidate>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" required name="email" id="email" ng-model="vm.email" />
                    <p class="help-block" ng-show="register.email.$dirty && register.email.$invalid">Please enter a valid email.</p>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" placeholder="password" 
                           class="form-control" required type="password" ng-model="vm.password" />
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input name="confirmPassword" class="form-control" required type="password" ng-model="vm.confirmPassword" validate-equals="vm.password" />
                    <p class="help-block" ng-show="register.confirmPassword.$dirty && register.confirmPassword.$invalid">Please match passwords</p>
                </div>
                <button class="btn btn-primary" type="submit" ng-disabled="register.$invalid">Submit</button>
            </form>
        </div>
    </div>
</div>